<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Welcome to Artist</h1>
				<p>This is your dashboard page</p>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<p><%= link_to 'painting category', painting_categories_path %></p>
				<p><%= link_to 'painting', paintings_path %></p>
				<p><%= link_to 'profile', profiles_path %></p>
				<p><%= link_to 'qualification', qualifications_path %></p>
				<p><%= link_to 'achievement', achievements_path %></p>
				<p><%= link_to 'event', events_path %></p>
				<p><%= link_to 'blog', blogs_path %></p>
				<p><%= link_to 'comment', comments_path %></p>
				<p><%= link_to 'client history', client_histories_path %></p>
			</div>
		</div>
	</div>
</div>