<%= bootstrap_form_for(@profile) do |f| %>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-5">
        <%= f.text_field :first_name, placeholder: 'First Name' %>
        <%= f.text_field :middle_name, placeholder: 'Middle Name' %>
        <%= f.text_field :last_name, placeholder: 'Last Name' %>
        <%= f.email_field :email, placeholder: 'Email' %>
        <%= f.text_field :mobile_no, placeholder: 'Mobile Number' %>
        <%= f.fields_for :addresses do |ff|%>
          <%= render 'addresses_form', f:ff %>
        <%end%>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
      <div class="col-md-6">
        <%= f.file_field :image, class: 'input_image btn btn-info', label: 'Upload new image'%>
        <div class="img-crop">
          <%= image_tag (@profile.image? ? @profile.image : ''), class: 'img-responsive' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>