<div class="row">
  <div class="col-md-4">
  <%= bootstrap_form_for(@profile) do |f| %>
    <%= f.text_field :first_name, placeholder: 'First Name' %>
    <%= f.text_field :middle_name, placeholder: 'Middle Name' %>
    <%= f.text_field :last_name, placeholder: 'Last Name' %>
    <%= f.text_field :email, placeholder: 'Email' %>
    <%= f.text_field :mobile_no, placeholder: 'Mobile Number' %>
    <%= f.text_area :address, placeholder: 'Address' %>
    <%= f.file_field :image %>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
