<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @profile.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @profile.mobile_no %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @profile.image, width:200 %>
</p>
<table>
  <thead>
    <tr>
      <th>Qualification</th>
      <th>College name</th>
      <th>University</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
<% @qualifications.each do |qualification|%>
  <%=render 'qualifications/qualification', qualification: qualification%>
<%end%>
  </tbody>
</table>

<%=render 'qualifications/form' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Details</th>
    </tr>
  </thead>

  <tbody>
<% @achievements.each do |achievement|%>
  <%=render 'achievements/achievement', achievement: achievement%>
<%end%>

</tbody>
</table>
<%=render 'achievements/form' %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
