<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INSPINIA | Responsive admin theme</title>

  <!-- Main css styles -->
  <%= stylesheet_link_tag css_js_section!, media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag css_js_section!, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="device">
<%= render 'layouts/alert_messages'%>
<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">IN+</h1>
    </div>
    <h3>Resend confirmation instructions</h3>
    <div style="text-align:left">
	<%= bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary block full-width m-b"%>
    <% end %>
    </div>
    <%= render "devise/shared/links" %>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>
</body>
</html>
