<%= form_for(@client_history) do |f| %>
  <% if @client_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_history.errors.count, "error") %> prohibited this client_history from being saved:</h2>

      <ul>
      <% @client_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :mobile_no %><br>
    <%= f.text_field :mobile_no %>
  </div>
  <div class="field">
    <%= f.label :payment_status %><br>
    <%= f.text_field :payment_status %>
  </div>
  <div class="field">
    <%= f.label :painting_id %><br>
    <%= f.text_field :painting_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
