<div class="row">
  <div class="col-md-4">
    <%= bootstrap_form_for(@client_history) do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.email_field :email, placeholder: 'Email' %>
    <%= f.text_field :mobile_no, placeholder: 'Mobile No' %>
    <%= f.text_field :payment_status, placeholder: 'Payment Status' %>
    <%= f.select :painting_id, @paintings, {prompt: true}, {onchange: "painting_client_history();", required: true} %>    
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="img-crop">
      <%= image_tag (@client_history.painting ? @client_history.painting.image : ''), width: 600 %>
    </div>
  </div>
</div>