<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Client History</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Dashboard', dashboard_index_path %>
      </li>
      <li class="active">
        <strong>Client History</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Listing Client Histories</h5>
          <div class="ibox-tools">
            <%= link_to new_client_history_path, class: 'btn btn-primary btn-xs' do %><i class="fa fa-plus"></i><% end %>
          </div>
        </div>
        <div class="ibox-content">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @client_histories.each do |client_history| %>
                <tr>
                  <td>
                    <div class="ibox-tools pull-left">
                      <%= link_to client_history, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash fa-md"></i><%end%>
                    </div>
                  </td>
                  <td>
                    <%= link_to edit_client_history_path(client_history) do %>
                    <div class="project-title">
                      <h4><%= client_history.name %></h4>
                      <%= client_history.email %><br/>
                      <%= client_history.mobile_no %>
                    </div>
                    <%end%>
                  </td>
                  <td>
                    <%= link_to edit_client_history_path(client_history) do %>
                    <div class="file-box">
                      <div class="file">
                        <div class="image">
                          <%= image_tag client_history.painting.image, alt: "image", class: "img-responsive"%>
                        </div>
                      </div>
                    </div>
                    <%end%>
                  </td>
                  <td class="project-status">
                    <%= client_history.payment_status %>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
