<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Client History</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Dashboard', dashboard_index_path %>
      </li>
      <li>
        <%= link_to 'Client History', client_histories_path %>
      </li>
      <li class="active">
        <strong><%= @client_history.name %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-b-md">
            <h5>Client - <%= @client_history.name %></h5>
            <div class="ibox-tools">
              <a class="dropdown-toggle btn btn-xs btn-white" data-toggle="dropdown" href="#">
                Action <i class="caret"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li>
                  <%= link_to 'Edit', edit_client_history_path(@client_history) %>
                </li>
                <li>
                  <%= link_to 'Delete', @client_history, method: :delete, data:{ confirm: "Are you sure? "} %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-8">
            <%= image_tag @client_history.painting.image, width: 700 %>
            </div>
            <div class="col-lg-4">
              <table class="table">
                <tr>
                  <th>Status</th>
                  <td><%= @client_history.payment_status %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= @client_history.email %></td>
                </tr>
                <tr>
                  <th>Mobile No</th>
                  <td><%= @client_history.mobile_no %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>