<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Image:</strong>
  <% unless @blog.image.blank? %>
      <%= image_tag(@blog.image, width: '800px') %>
    <% end %>
</p>
<p>
 <%= link_to image_tag("2.jpeg", :border => 0),like_blogs_path(blog_id:@blog.id),remote: true%><div class="like"></div>
 <%= link_to image_tag("1.jpeg", :border => 0) ,dislike_blogs_path(blog_id:@blog.id),remote: true%><div class="dislike"></div>
 </p>

<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.name%>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.comment%>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.email%>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.like%>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.dislike%>
  </p>

  <p>
  <%= link_to 'Destroy Comment', [comment.blog, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<div class="container">
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-5">

<%=  bootstrap_form_for ([@blog, @blog.comments.build])  do |f|%>
  
    <%= f.text_field :name %>
 
    <%= f.text_field :email %>
  
    <%= f.text_area :comment %>
  
    <%= f.submit %>
<% end %>
</div>
</div>
</div>



<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
