<p id="notice"><%= notice %></p>

<h2>Blog</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>Like</th>
      <th>DisLike</th>

    </tr>
  </thead>

  <tbody>
<tr>

  <td> <%= @blog.title %></td>
  <td><%= @blog.content %></td>
  <td><%= image_tag(@blog.image,width:200)%></td>



  <td><strong> <%= link_to image_tag("2.jpeg", width: 30 ),like_blogs_path(blog_id:@blog),remote: true%></strong>
  <div class="like"><%=@blog.like%></div></td>


  <td><strong> <%= link_to image_tag("1.jpeg", width: 30 ) ,dislike_blogs_path(blog_id:@blog),remote: true%></strong>
  <div class="dislike"><%=@blog.dislike%></div></div></td>
</tr>
 
 
 </tbody>
 </table>


<h2>Comments</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
</tbody>
</table>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
