<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@blog.image, width: 200) %>
</p>
<p>
 <%= link_to image_tag("2.jpeg", width: 30 ),like_blogs_path(blog_id:@blog),remote: true%><div class="like"><%=@blog.like%></div>
 <%= link_to image_tag("1.jpeg", width: 30 ) ,dislike_blogs_path(blog_id:@blog),remote: true%><div class="dislike"><%=@blog.dislike%></div>
 </p>

<h2>Comments</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
</tbody>
</table>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
