<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Login Details</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Dashboard', dashboard_index_path %>
      </li>
      <li class="active">
        <strong>Edit login details</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInDown">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Edit Admin user</h5>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-5">
              <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password (leave blank if you don't want to change it)" %>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>
              <%= f.password_field :current_password, autocomplete: "off", placeholder: 'we need your current password to confirm your changes' %>
              <%= f.submit "Update", class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
