<tr>
	<td>
		<div class="feed-activity-list">
			<div class="feed-element">
				<a href="#" class="pull-left">
					<i class="fa fa-comments fa-lg"></i>
				</a>
				<div class="media-body ">
					<div class="pull-right">
						<%= link_to [comment.blog, comment], method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-trash fa-lg"></i><% end %>
					</div>
					<strong><%= comment.name %></strong> posted message<br>
					<small class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</small>
					<div class="well">
						<%= comment.comment %>
					</div>
					<div class="pull-right">
                		<span class="label label-primary"><i class="fa fa-thumbs-up"></i> <%= comment.like %></span>
                		<span class="label label-danger"><i class="fa fa-thumbs-down"></i> <%= comment.dislike %></span>
					</div>
				</div>
			</div>
		</div>
	</td>
</tr>