<div class="row">
	<div class="col-md-8">
		<%= bootstrap_form_for([@blog, @comment]) do |f| %>
		<% if user_signed_in? %>
		  <%= label_tag :Artist %>
		  <%= select :profile, :id, @profiles, {prompt: true}, {class: 'form-control'} %><br/>
		<% else %>
		  <%= f.text_field :name, placeholder: 'Name' %>
		  <%= f.text_field :email, placeholder: 'Email' %>
		<% end %>
		<%= f.text_area :comment, placeholder: 'Comments' %>
		<%= f.submit 'Comment', class: 'btn btn-sm btn-primary' %>
		<% end %>
	</div>
</div>