<p id="notice"><%= notice %></p>

<h1>Listing Qualifications</h1>

<table>
  <thead>
    <tr>
      <th>Qualification</th>
      <th>College name</th>
      <th>University</th>
      <th>Year</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td><%= qualification.qualification %></td>
        <td><%= qualification.college_name %></td>
        <td><%= qualification.university %></td>
        <td><%= qualification.year %></td>
        <td><%= qualification.profile %></td>
        <td><%= link_to 'Show', qualification %></td>
        <td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
        <td><%= link_to 'Destroy', qualification, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Qualification', new_qualification_path %>
