<%= form_for(@painting) do |f| %>
  <% if @painting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@painting.errors.count, "error") %> prohibited this painting from being saved:</h2>

      <ul>
      <% @painting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.select :profile_id, @paintings_category_profile[0], prompt: true %>
  </div>
  <div class="field">
    <%= f.label :painting_category_id %><br>
    <%= f.select :painting_category_id, @paintings_category_profile[1], prompt: true %>
  </div>
  <div class="field">
    <%= f.label :ref_no %><br>
    <%= f.text_field :ref_no, disabled: :disabled %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="field">
    <%= f.label :medium %><br>
    <%= f.text_field :medium %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, t('status'), prompt: true %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
