<% @paintings.each_slice(3) do |paintings| %>
<tr>
	<% paintings.each do |painting| %>
	<td>
		<div class="file-box">
			<div class="file">
				<span class="corner"></span>
				<%= link_to edit_painting_path(painting) do %>
				<div class="image">
					<%= image_tag painting.image, alt: "image", class: "img-responsive"%>
				</div>
				<%end%>
				<div class="file-name">
				<%= link_to edit_painting_path(painting) do %>
					<%= painting_status(painting)%> <%= painting.title %>
					<br />
					<small><%= painting.created_at.strftime("%d %B %Y") %></small>
				<%end%>
				<div class="ibox-tools">
				<%= link_to painting_path(painting), remote: true do %><i class="fa fa-search-plus fa-md"></i><%end%>
				<%= link_to @painting, method: :delete, data:{ confirm: "Are you sure? "} do %><i class="fa fa-trash fa-md"></i><%end%>
				</div>
				</div>
			</div>
		</div>
	</td>
	<%= no_image_available(paintings) %>
	<% end %>
</tr>
<% end %>