<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Painting</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Dashboard', dashboard_index_path %>
      </li>
      <li class="active">
        <strong>Painting</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="file-manager">
            <%= link_to 'Upload New Painting', new_painting_path, class: "btn btn-primary btn-block" %>
            <div class="hr-line-dashed"></div>
            <h5 class="tag-title">Artist</h5>
            <ul class="tag-list" style="padding: 0">
              <% @profiles.each do |profile|%>
              <li><%= link_to profile.full_name, artist_paintings_painting_path(profile), remote: true %></li>
              <%end%>
              <li><%= link_to 'All', paintings_path %></li>
            </ul>
            <div class="clearfix"></div>
            <div class="hr-line-dashed"></div>
            <h5>Category</h5>
            <ul class="folder-list category" style="padding: 0">
              <%= render 'category' %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="painting">
              <%= render 'painting' %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="image_zooming" class="modal fade"></div>