<p id="notice"><%= notice %></p>

<h1>Listing Paintings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Profile</th>
      <th>Ref no</th>
      <th>Size</th>
      <th>Style</th>
      <th>Details</th>
      <th>Medium</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paintings.each do |painting| %>
      <tr>
        <td><%= painting.title %></td>
        <td><%= painting.profile %></td>
        <td><%= painting.ref_no %></td>
        <td><%= painting.size %></td>
        <td><%= painting.style %></td>
        <td><%= painting.details %></td>
        <td><%= painting.medium %></td>
        <td><%= painting.status %></td>
        <td><%= link_to 'Show', painting %>&nbsp;&nbsp;<%= link_to 'Edit', edit_painting_path(painting) %>&nbsp;&nbsp;<%= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Painting', new_painting_path %>
