<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Paintings</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Dashboard', dashboard_index_path %>
      </li>
      <li>
        <%= link_to 'Paintings', paintings_path %>
      </li>
      <li class="active">
        <strong><%= @painting.title %></strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInUp">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <div class="row">
        <div class="col-lg-12">
          <div class="m-b-md">
            <h5>Painting - <%= @painting.title %></h5>
            <div class="ibox-tools">
              <a class="dropdown-toggle btn btn-xs btn-white" data-toggle="dropdown" href="#">
                Action <i class="caret"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li>
                  <%= link_to 'Edit', edit_painting_path(@painting) %>
                </li>
                <li>
                  <%= link_to 'Delete', @painting, method: :delete, data:{ confirm: "Are you sure? "} %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-8">
              <%= image_tag @painting.image, width: 700 %>
            </div>
            <div class="col-lg-4">
              <table class="table">
                <tr>
                  <th>Status</th>
                  <td><%= @painting.status %> <%= painting_status%></td>
                </tr>
                <tr>
                  <th>Title</th>
                  <td><%= @painting.title %></td>
                </tr>
                <tr>
                  <th>Artist</th>
                  <td><%= @painting.profile.full_name %></td>
                </tr>
                <tr>
                  <th>Category</th>
                  <td><%= @painting.painting_category.name %></td>
                </tr>
                <tr>
                  <th>Ref. No.</th>
                  <td><%= @painting.ref_no %></td>
                </tr>
                <tr>
                  <th>Size</th>
                  <td><%= @painting.size %></td>
                </tr>
                <tr>
                  <th>Style</th>
                  <td><%= @painting.style %></td>
                </tr>
                <tr>
                  <th>Medium</th>
                  <td><%= @painting.medium %></td>
                </tr>
                <tr>
                  <th>Details</th>
                  <td><%= @painting.details %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>