<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for(@event) do |f| %>
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= f.text_field :start_date, class: 'date' %>
    <%= f.text_field :end_date, class: 'date' %>
    <%= f.time_field :start_time %>
    <%= f.time_field :end_time %>
    <%= f.text_area :description, placeholder: 'Description' %>
    <%= f.select :profile_id, @profiles, prompt: true %>
    <%= f.check_box :publish %>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>