<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @painting_category.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @painting_category.code %>
</p>

<%= link_to 'Edit', edit_painting_category_path(@painting_category) %> |
<%= link_to 'Back', painting_categories_path %>
