<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INSPINIA | Responsive admin theme</title>

  <!-- Main css styles -->
  <%= stylesheet_link_tag css_js_section!, media: 'all', 'data-turbolinks-track' => true %>

  <!-- Main javascript files -->
  <%= javascript_include_tag css_js_section!, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="device">
<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">IN+</h1>
    </div>
    <h3>Welcome to IN+</h3>
    <div style="text-align:left">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), html:{class: "m-t"}) do |f| %>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
      <%= f.check_box :remember_me, class: "checkbox" %>
      <%= f.submit "Log in",class: "btn btn-primary block full-width m-b" %>
    <% end %>
    </div>
    <p class="text-muted text-center">
    <small>Do not have an account?</small>
    </p>
    <%= link_to 'Create an account', new_user_registration_path, class: "btn btn-sm btn-white btn-block" %>
    <%= render "devise/shared/links" %>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>
</body>
</html>
