<div id="inSlider" class="carousel slide carousel-fade" data-ride="carouse">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="header-back-3"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h2>Recent Paintings</h2>
        </div>
    </div>
    <div class="row">
    	<% @latest_paintings.each do |lp| %>
		<div class="col-md-2 col-sm-4 col-xs-6">
		  <%= image_tag lp.image, class: "img-responsive customer-img"%>
		</div>
		<%end%>
	</div>

	<!-- Service Tabs -->
	<div class="row">
		<div class="row">
	        <div class="col-lg-12 text-center">
	            <div class="navy-line"></div>
	            <h2>Artist Paintings</h2>
	        </div>
	    </div>
		<div class="col-lg-12">
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-user"></i> <%= @first_artist.full_name%></a>
				</li>
				<li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-user"></i> <%= @last_artist.full_name%></a>
				</li>
			</ul>

			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="service-one">
					<div class="col-md-2">
						<%= image_tag @first_artist.image, class: "img-responsive img-circle"%>
	                </div>
	                <div class="col-md-10">
	                <br/>
	                <h5 class="tag-title">Categories</h5>
                        <ul class="tag-list" style="padding:0">
                        <% @first_artist.categories.each do |c|%>
                        	<li>
                        		<%= link_to '#' do %><i class="fa fa-tag"></i> <%= c.name%><%end%>
                        	</li>
                        <%end%>
                        </ul>
                    </div>
                    <div class="col-lg-12">
						<h2 class="page-header">Category List</h2>
					</div>
					<div class="col-lg-12">
					<% @first_artist.categories.each do |c|%>
					<div class="col-md-3 img-portfolio">
						<%= link_to '#' do %>
							<%= image_tag c.image(@first_artist.id), class: "img-responsive customer-img"%>
						<%end%>
						<h4>
						  <%= link_to c.name, '#'%>
						</h4>
					</div>
					<% end %>
					</div>
				</div>
				<div class="tab-pane fade" id="service-two">
					<div class="col-md-2">
						<%= image_tag @last_artist.image, class: "img-responsive img-circle"%>
	                </div>
	                <div class="col-md-10">
	                <br/>
	                <h5 class="tag-title">Categories</h5>
                        <ul class="tag-list" style="padding:0">
                        <% @last_artist.categories.each do |c|%>
                        	<li>
                        		<%= link_to '#' do %><i class="fa fa-tag"></i> <%= c.name%><%end%>
                        	</li>
                        <%end%>
                        </ul>
                    </div>
                    <div class="col-lg-12">
						<h2 class="page-header">Category List</h2>
					</div>
					<div class="col-lg-12">
					<% @last_artist.categories.each do |c|%>
					<div class="col-md-3 img-portfolio">
						<%= link_to '#' do %>
							<%= image_tag c.image(@last_artist.id), class: "img-responsive customer-img"%>
						<%end%>
						<h4>
						  <%= link_to c.name, '#'%>
						</h4>
					</div>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>