<div id="inSlider" class="carousel slide carousel-fade" data-ride="carouse">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="header-back-3"></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h2>Recent Paintings</h2>
        </div>
    </div>
    <div class="row">
		<div class="col-md-2 col-sm-4 col-xs-6">
		  <%= image_tag 'p1.jpg', class: "img-responsive customer-img"%>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
		  <%= image_tag 'p2.jpg', class: "img-responsive customer-img"%>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
		  <%= image_tag 'p3.jpg', class: "img-responsive customer-img"%>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
		  <%= image_tag 'p4.jpg', class: "img-responsive customer-img"%>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
		  <%= image_tag 'p5.jpg', class: "img-responsive customer-img"%>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6">
		  <%= image_tag 'p6.jpg', class: "img-responsive customer-img"%>
		</div>
	</div>

	<!-- Service Tabs -->
	<div class="row">
		<div class="row">
	        <div class="col-lg-12 text-center">
	            <div class="navy-line"></div>
	            <h2>Artist Paintings</h2>
	        </div>
	    </div>
		<div class="col-lg-12">
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-user"></i> Arvind Kolhpkar</a>
				</li>
				<li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-user"></i> Harshda Kolhpkar</a>
				</li>
			</ul>

			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade active in" id="service-one">
					<div class="col-md-2">
	                    <img src="/assets/avatar1.jpg" class="img-responsive img-circle" alt="">
	                </div>
	                <div class="col-md-10">
	                <h5 class="tag-title">Categories</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                    </div>
                    	                <div class="col-lg-12">
						<h2 class="page-header">Category List</h2>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p6.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p5.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p4.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p3.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p2.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p1.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p2.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p3.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p4.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p5.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p6.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p1.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
				</div>
				<div class="tab-pane fade" id="service-two">
					<div class="col-md-2">
	                    <img src="/assets/avatar3.jpg" class="img-responsive img-circle" alt="">
	                </div>
	                <div class="col-md-10">
	                	<h5 class="tag-title">Categories</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
	                </div>
	                <div class="col-lg-12">
						<h2 class="page-header">Category List</h2>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p6.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p5.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p4.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p3.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p2.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p1.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p2.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p3.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p4.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p5.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p6.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
					<div class="col-md-3 img-portfolio">
						<a href="portfolio-item.html">
							<%= image_tag 'p1.jpg', class: "img-responsive customer-img"%>
						</a>
						<h4>
							<a href="portfolio-item.html">Project Name</a>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>