<!-- Skin configuration box -->
<%= render 'layouts/skinconfig' %>

<!-- Wrapper-->
<div id="wrapper" class="<%= params[:controller] %>.<%= params[:action] %>">

    <!-- Navigation -->
    <%= render 'layouts/navigation' %>

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>

        <!-- Main view  -->
        <%= yield %>

        <!-- Footer -->
        <%= render 'layouts/footer' %>

    </div>
    <!-- End page wrapper-->

</div>
