<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>INSPINIA | Responsive admin theme</title>

	<!-- Main css styles -->
	<%= stylesheet_link_tag css_js_section, media: 'all', 'data-turbolinks-track' => true %>

	<!-- Main javascript files -->
	<%= javascript_include_tag css_js_section, 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body >
	<%= layout_for_user! %>
</body>
</html>
<script type="text/javascript">
	$(function() {

		setTimeout(function() {
			toastr.options = {
				closeButton: true,
				progressBar: true,
				showMethod: 'slideDown',
				timeOut: 20000
			};
		<% if notice %>
			toastr.success("<%= notice %>");
		<% end %>
		<% if alert %>
			toastr.error("<%= alert %>");
		<% end %>

		}, 1000);
	});
</script>